* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #ede8e3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}
.score {
  background-color: #f4f3f6;
  padding: 10px 20px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 60px;
}
.level {
  background-color: #f4f3f6;
  padding: 10px 20px;
  border-radius: 8px;
  position: absolute;
  right: 60px;
  top: 40px;
}
.hint {
  color: #191d63;
  font-size: 28px;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
.question {
  width: 317px;
  height: 145px;
}
.question-card {
  width: 510px;
  height: 81px;
  padding: 10px;
  background-color: #f4f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.question-letter {
  width: 40px;
  height: 40px;
  background-color: #ede8e3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.answer {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-over-container {
  margin-top: 40px;
  text-align: center;
  flex-grow: 1;
}
.game-over-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.game-over-container h2 {
  margin-bottom: 320px;
}
.game-over-container div {
  width: 100%;
  background-color: white;
  height: 20px;
}
.btn {
  width: 240px;
  height: 60px;
  background: #747475;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
  opacity: 0.5;
}
.btn-container {
  width: 100%;
  background-color: #f4f3f6;
  padding: 15px 0;
  padding-right: 380px;
  display: flex;
  justify-content: end;
  align-items: center;
}
